.gradle/
.idea/compiler.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_4_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_4_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_4_1.xml
.idea/libraries/Gradle__com_github_stephenc_findbugs_findbugs_annotations_1_3_9_1.xml
.idea/libraries/Gradle__com_thoughtworks_paranamer_paranamer_2_7.xml
.idea/libraries/Gradle__commons_cli_commons_cli_1_2.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_9.xml
.idea/libraries/Gradle__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Gradle__commons_httpclient_commons_httpclient_3_1.xml
.idea/libraries/Gradle__commons_io_commons_io_2_5.xml
.idea/libraries/Gradle__commons_lang_commons_lang_2_6.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Gradle__de_undercouch_bson4jackson_2_4_0.xml
.idea/libraries/Gradle__io_netty_netty_3_5_13_Final.xml
.idea/libraries/Gradle__joda_time_joda_time_2_7.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__net_sf_jopt_simple_jopt_simple_4_7.xml
.idea/libraries/Gradle__org_apache_avro_avro_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_avro_compiler_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_avro_ipc_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_avro_mapred_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_avro_tools_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_trevni_avro_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_trevni_avro_tests_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_trevni_core_1_8_2.xml
.idea/libraries/Gradle__org_apache_avro_trevni_core_tests_1_8_2.xml
.idea/libraries/Gradle__org_apache_commons_commons_compress_1_8_1.xml
.idea/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_8_2.xml
.idea/libraries/Gradle__org_apache_velocity_velocity_1_7.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_jongo_jongo_1_1.xml
.idea/libraries/Gradle__org_mortbay_jetty_jetty_6_1_26.xml
.idea/libraries/Gradle__org_mortbay_jetty_jetty_util_6_1_26.xml
.idea/libraries/Gradle__org_mortbay_jetty_servlet_api_2_5_20081211.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Gradle__org_tukaani_xz_1_5.xml
.idea/libraries/Gradle__org_xerial_snappy_snappy_java_1_1_1_3.xml
.idea/modules/apacheavro_main.iml
.idea/modules/apacheavro_test.iml
.idea/uiDesigner.xml
.idea/vcs.xml
